<!DOCTYPE html>
<html>
<head></head>
<body>
	<% if flash[:notice] %>
  <p id="notice"><%= flash[:notice] %></p>
  <% end %>
<h1>welcome to Bookers !!</h1>
<p>In<strong>Bookers</strong>でyou can share and exchange your opinions , inpressions , and emotions</p>
<p>about various books!</p>
<p>
	<li class="">
		  <%= link_to "Log in", new_user_session_path %>
      </li>
      <li class="">
        <%= link_to "Sign UP", new_user_registration_path %>
      </li>
</p>
</body>
</html>